h2{
    background: #000;
    height: 500px;
    background: url(image/才哥模板.jpg);
    transform:rotate(30deg);
    transition: height 2s ease;

    animation: run 2s ease 3s;
}
@keyframes run {
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 600px;
    }
}