*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 16px;
    background: #f0efed;
}
#nav{
    background: #06c1ae;
    display: flex;
}
#nav-add{
    width: 1.67rem;
    height: 1.01rem;
    line-height: 1.01rem;
    text-align: center;
    color: #fff;
}
#nav-mine{
    width: 0.94rem;
    height: 1.01rem;
    line-height: 1.01rem;
    text-align: center;
    color: #fff;
}
.nav-search{
    flex: 1;
    height: 0.64rem;
    background: #00a494;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 0.2rem;
}
#img-boxs{
    border-bottom: 1px solid #666;
    height: 100%;
}
.img-box{
    width: 100%;
}
.menu-list{
    display: flex;
    flex-wrap: wrap;
    background: #ffffff;
    text-align: center;
    margin-bottom: 0.2rem;
}
.icon-list-box{
    width: 20%;
    height: 1.6rem;
    position: relative;
    margin: 5px 0px;
}
.icon-list{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background: orange;
    margin: 0 auto;
}
.icon-dianying{
    background: 
}
.list-title{
    text-align: center;
    color:#666;
    font-size: 0.24rem;
}
.iconfont{
    color:#fff;
    font-size: 20px;
    position: absolute;
    left: 36%;
    top: 13%;
}
.icon-dianying{
    background: red;
}
.icon-jiudian{
    background: purple;
}
.icon-yule, .icon-ktv{
    background: yellow;
}
.icon-luyou{
    background: #4dc6ee;
}
.icon-liren{
    background: #ff80c2;
}
.icon-quanbu{
    background: #00d3be;
}
.pro-list-box{
    background: #fff;
    padding-left: 0.2rem;
}
.pro-list-box h3{
    font-size: 0.34rem;
    font-weight: 400;
    padding: 0.2rem 0;
    border-bottom: 1px solid #ccc;
}
.pro-list{
    display: flex;
    padding: 0.2rem 0;
}
.pro-list-img{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.2rem;
}
.pro-list-info{
    position: relative;
}
.er{
    font-size: 0.24rem;
    color:#666;
    margin-bottom: 0.66rem;
}.jiage{
    font-size: .38rem;
    color: #06c1ae;
}
.yuan{
    font-size: .26rem;
    color: #06c1ae;
}
.menshi{
    font-size: .24rem;
}
.yishou{
    font-size: .24rem;
    position: absolute;
    right: -51%;
    bottom: 10%;
}
.tuangou{
    height: 1rem;
    padding:0 0.2rem;
    line-height: 1rem;
    position: relative;
}
.tuangou>p{
    color: #00a494;
    font-weight: 400;
}
.dayuhao{
    position: absolute;
    right: 5%;
    top:5%; 
}
.footer{
    padding:0 0.4rem 0.8rem;
    margin-top: 0.4rem;
}
.footer-bar{
    display: flex;
}
.foot-list{
    display: inline-block;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    padding: 0 0.2rem;
    border-radius: 0.06rem;
    border: 1px solid #06c1ae;
    font-size: 14px;
    color:#06C1AE;
}
.city{
    flex:1;
    font-size: 14px;
}
.city-haerbin{
    display: inline-block;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    padding: 0 0.4rem;
    border-radius: 0.06rem;
    border: 1px solid #06c1ae;
    font-size: 14px;
    color:#06C1AE;
}